<div class="card">
  <div class="card-header">
    <h2>Register</h2>
  </div>
  <div id="register" role="tabpanel">
    <form id="register-form" class="card-body">
      <div>
        <label for="username-input-register" class="form-label">Username</label>
        <input type="text" id="username-input-register" />
      </div>
      <div>
        <label for="password-input-register" class="form-label">Password</label>
        <input type="password" id="password-input-register" />
      </div>
      <button type="submit" id="register-btn" class="btn">Register!</button>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/register.js"></script>